[Unit]
Description=Commit task database

[Service]
WorkingDirectory=/home/kalbasit/.dotfiles/.private
Type=oneshot
ExecStartPre=/usr/bin/git reset
ExecStartPre=/usr/bin/git add -A .task
ExecStart=/usr/bin/bash -c '/usr/bin/git commit -m "task: update database" || true'

[Install]
WantedBy=default.target
