[Unit]
Description=Gone time tracker

[Service]
ExecStartPre=/usr/bin/mkdir -p %h/.cache/gone
ExecStart=%h/.filesystem/bin/gone --expire 19h
Restart=always

[Install]
WantedBy=default.target
