[Unit]
Description=Gone time tracker

[Service]
ExecStartPre=/usr/bin/mkdir -p /home/kalbasit/.cache/gone
ExecStart=/home/kalbasit/.filesystem/bin/gone --expire 19h
Restart=always

[Install]
WantedBy=default.target
