[Unit]
Description=Check for low battery and hibernate if it's below 5%

[Service]
ExecStart=/home/kalbasit/.bin/hibernate-on-low-battery
Type=oneshot

[Install]
WantedBy=default.target
