[Unit]
Description=Clipboard manager

[Service]
ExecStart=%h/.local/opt/rofi-clipboard-manager/bin/mclip.py daemon
Restart=always

[Install]
WantedBy=default.target
