[Unit]
Description=Notmuch
Requires=offlineimap.service
After=offlineimap.service

[Service]
ExecStartPre=/bin/sh -c "docker inspect notmuch >/dev/null 2>&1 && docker rm -f notmuch || true"
ExecStartPre=/usr/bin/docker create --name notmuch -e SLEEP_IN_SECONDS=60 -e NOTMUCH_CONFIG=/home/kalbasit/.mail/.notmuch/config -v /home/kalbasit/.mail:/home/kalbasit/.mail kalbasit/notmuch
ExecStart=/usr/bin/docker start -a notmuch
ExecStop=-/usr/bin/docker stop notmuch
ExecStopPost=/usr/bin/docker rm -f notmuch
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
