[Unit]
Description=Offlineimap

[Service]
ExecStartPre=/bin/sh -c "docker inspect offlineimap >/dev/null 2>&1 && docker rm -f offlineimap || true"
ExecStartPre=/usr/bin/docker create --name offlineimap -m 1g -v /home/kalbasit/.offlineimaprc:/etc/offlineimap/offlineimaprc:ro -v /home/kalbasit/.ca-bundle.crt:/etc/offlineimap/ca-bundle.crt:ro -v /home/kalbasit/.offlineimap:/var/lib/offlineimap/offlineimap -v /home/kalbasit/.mail:/var/lib/offlineimap/mail kalbasit/offlineimap
ExecStart=/usr/bin/docker start -a offlineimap
ExecStop=-/usr/bin/docker stop offlineimap
ExecStopPost=/usr/bin/docker rm -f offlineimap
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
