[Unit]
Description=Sync tasks
Documentation=man:task-sync(5)
ConditionFileIsExecutable=/usr/bin/task

[Service]
Type=oneshot
ExecStart=/usr/bin/task sync

[Install]
WantedBy=default.target
