# Keep this list sorted alphabetically.

*.emptyfile
*[wW][eE][eE][mM]*
*~
.byobu/.ssh-agent
.config/acd-token.json
.config/acd.json
.config/configstore/
.config/git/
.config/keybase
.config/liteide/
.config/pianobar
.config/robomongo/
.config/sublime-text-3/Backup/
.config/sublime-text-3/Cache/
.config/sublime-text-3/Installed Packages/
.config/sublime-text-3/Local
.config/sublime-text-3/Packages/Autoprefixer/
.config/sublime-text-3/Packages/GoSublime/
.config/sublime-text-3/Packages/HTML/
.config/sublime-text-3/Packages/PlainTasks/
.config/sublime-text-3/Packages/Rails/
.config/sublime-text-3/Packages/SublimeLinter/
.config/sublime-text-3/Packages/TodoReview/
.config/sublime-text-3/Packages/User/*.cache
.config/sublime-text-3/Packages/User/GoSublime-aux.sublime-settings
.config/sublime-text-3/Packages/User/Package*Control.last-run
.config/sublime-text-3/Packages/User/Package Control.merged-ca-bundle
.config/sublime-text-3/Packages/User/Package Control.system-ca-bundle
.config/sublime-text-3/Packages/User/Package Control.user-ca-bundle
.config/sublime-text-3/Packages/User/SublimeGit.sublime-settings
.config/sublime-text-3/Packages/bz2/
.deis/client.json
.deis/units/
.deis/vagrant.json
.irssi/config
.docker/machine/
.emacs.d/.cask
.emacs.d/autosave/
.emacs.d/backup/
.emacs.d/cache/
.emacs.d/eshell/
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/recentf
.emacs.d/smex-items
.emacs.d/url/cache
.filesystem/
.filesystem/bin/ssx-agents
.irssi/config.autosave
.irssi/seen.dat
.local/share/gvfs-metadata
.notmuch/compose/
.notmuch/log
.notmuch/nottoomuch-addresses/addresses
.notmuch/nottoomuch-addresses/addresses.active
.notmuch/nottoomuch-addresses/addresses.active.new
.notmuch/nottoomuch-addresses/addresses.new
.pki
.private
.recently-used.*
.screen/env
.screen/ssh-auth-sock.*
.screenrc
.ssh/*/agent
.ssh/id_boot2docker
.ssh/id_boot2docker.pub
.ssh/known_hosts
.tmux/ssh_vars
.vim/.netrwhist
.vim/_backup/
.vim/_nviminfo
.vim/_viminfo
.vim/_temp/
.vim/_undo/
.vim/autoload/plug.vim.old
.vim/bundle/
.vim/spell/
.vim/yankring_history_v2.txt
.viminfo*
.viminfo,!
.xinitrc-sessions
.zsh/cache/
.zsh/work
Gist.sublime-settings
GoSublime-aux.sublime-settings
Package Control.last-run
drafts/
log.txt
tmp
yankring_history_v2.txt
