[submodule ".filesystem/lib/bash"]
	path = .filesystem/lib/bash
	url = git://github.com/eMxyzptlk/bashlib.git
[submodule ".filesystem/bin/willgit"]
	path = .filesystem/bin/willgit
	url = git://gitorious.org/willgit/mainline.git
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/carlhuda/janus.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
