.viminfo,!
tmp
.tmux/ssh_vars
.irssi/seen.dat
yankring_history_v2.txt
.screen/env
.viminfo*
.recently-used.*
.local/share/gvfs-metadata
.vim/yankring_history_v2.txt
.screenrc
.xinitrc-sessions
.pki
.ssh/agent.*
.ssh/environment
.ssh/id_rsa_google*
.ssh/known_hosts
.screen/ssh-auth-sock.*
*[wW][eE][eE][mM]*
*~
drafts/
.vim/_temp/
.vim/_backup/
.vim/_undo/
.vim/.netrwhist
*.emptyfile
.irssi/config.autosave
.emacs.d/.cask
.emacs.d/cache/
.emacs.d/backup/
.emacs.d/autosave/
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/url/cache
.emacs.d/recentf
.emacs.d/smex-items
.filesystem/bin/ssx-agents
.zsh/cache/
.emacs.d/eshell/
.config/configstore/
.config/sublime-text-3/Packages/User/*.cache
GoSublime-aux.sublime-settings
Package Control.last-run
log.txt
Gist.sublime-settings
.byobu/.ssh-agent
.filesystem/
.vim/bundle/
.notmuch/compose/
.notmuch/nottoomuch-addresses/addresses
.notmuch/nottoomuch-addresses/addresses.active
.notmuch/nottoomuch-addresses/addresses.active.new
.notmuch/nottoomuch-addresses/addresses.new
.notmuch/log
.config/pianobar/state
.vim/spell/















# Leave this as the last entry
!.keep
