.arcrc filter=git-crypt diff=git-crypt
.aws/* filter=git-crypt diff=git-crypt
.config/acd.json filter=git-crypt diff=git-crypt
.config/acd-token.json filter=git-crypt diff=git-crypt
.docker/config.json filter=git-crypt diff=git-crypt
.config/keybase/**/* filter=git-crypt diff=git-crypt
.config/pianobar/**/* filter=git-crypt diff=git-crypt
.config/sublime-text-3/Local/License.sublime_license filter=git-crypt diff=git-crypt
.config/sublime-text-3/Packages/User/SublimeGit.sublime-settings filter=git-crypt diff=git-crypt
.cron/**/* filter=git-crypt diff=git-crypt
.cron/wmn/cratos.local !filter !diff
.deis/* filter=git-crypt diff=git-crypt
.encrypted filter=git-crypt diff=git-crypt
.gist-vim filter=git-crypt diff=git-crypt
.gitconfig filter=git-crypt diff=git-crypt
.gitcookies filter=git-crypt diff=git-crypt
.github_token filter=git-crypt diff=git-crypt
.gnupg/**/* filter=git-crypt diff=git-crypt
.irssi/config filter=git-crypt diff=git-crypt
.msmtprc.erb filter=git-crypt diff=git-crypt
.my.cnf filter=git-crypt diff=git-crypt
.notmuch/**/* filter=git-crypt diff=git-crypt
.notmuch-config.erb filter=git-crypt diff=git-crypt
.offlineimaprc filter=git-crypt diff=git-crypt
.s3cfg filter=git-crypt diff=git-crypt
.signatures/**/* filter=git-crypt diff=git-crypt
.ssh/**/* filter=git-crypt diff=git-crypt
.totprc filter=git-crypt diff=git-crypt
.zsh/work/profiles/* filter=git-crypt diff=git-crypt
