.viminfo,!
tmp
yankring_history_v2.txt
.screen/env
.viminfo*
.recently-used.*
.local/share/gvfs-metadata
.vim/yankring_history_v2.txt
.screenrc
.xinitrc-sessions
.pki
.ssh/environment
*[wW][eE][eE][mM]*
*~
drafts/*
.vim/_temp/*
.vim/_backup/*
.vim/.netrwhist




















# Leave this as the last entry
!.keep
