!---------------------------------------------------
! vim:fenc=UTF-8:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:
!---------------------------------------------------

#include ".Xresources.d/xft"
#include ".Xresources.d/seoul256-dark"
#include ".Xresources.d/rxvt-unicode"
